body {
    background-color: #F4FAFF !important;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333333;
    font-size: 14px;
}
.o_content{
    margin: 20px 0 20px 20px;
    overflow: scroll !important;
    height: 100%;
}
.row{
    margin-right: 0 !important;
}
